CompileFlags:                     # Tweak the parse settings
  Add: [-xc++, -std=c++20]        # Treat the file as C++20

---
If:
  PathMatch: ".*/ustdex/detail/epilogue[.]hpp"

CompileFlags:
  Add:
  - -include ustdex/detail/prologue.hpp
